@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,900;1,300&display=swap");
* {
    font-family: "Nunito", sans-serif;
}

header {
    text-align: center;
    background-color: #fafafa;
    padding: 20px 0px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img {
        display: inherit;
        width: 250px;
        height: 300px;
        margin: 40px auto;
        border-radius: 6px;
        object-fit: cover;
    }
    .info {
        width: 50%;
    }
    .career {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form {
        padding: 20px;
    }
    fieldset {
        font-size: 14px;
        line-height: 20px;
        border-radius: 6px;
        input,
        textarea {
            margin: 10px 5px;
            padding: 5px 10px;
            outline: none;
        }
        display: flex;
        flex-direction: column;
    }
}

footer {
    background-color: #fafafa;
    padding: 20px;
}